.grow2 {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.75s ease-out;
}

.grow2:hover,
.grow2:focus {
  transform: scale(1.05);
}

.grow2:active {
  transform: scale(.90);
}

.grow2-large {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform .25s ease-in-out;
}

.grow2-large:hover,
.grow2-large:focus {
  transform: scale(1.2);
}

.grow2-large:active {
  transform: scale(.95);
}